
.container{
    max-width: 1024px;
    margin: 0px auto;
}
.card{
    border: 1px solid #dbdbdb;
    box-shadow: none;
}

th > span{
    text-decoration: underline;
    cursor: pointer;
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}
th > span:nth-child(2){
    position: absolute;
}

.table-rows:hover{
    background-color: hsl(171, 100%, 96%);  
    cursor: pointer;
}